.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 60px;
}
.title {
  font-size: 64px;
  text-align: center;
  line-height: 70px;
}
.subtitle {
  font-size: 24px;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.creation_form {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 10px;
}
.result_container {
  display: grid;
  grid-template-columns: 600px 1fr 1fr;
  gap: 10px;
}
.info_message {
  font-size: 22px;
  text-align: center;
}
.info_message.error, .info_message.missing {
  color: rgb(224, 59, 59);
  text-align: left;
}
.info_message.loading {
  color: rgb(85, 85, 85);
}
.info_message.error {
  text-align: center;
}
.info_message.success {
  color: #46d21b;
}
.sm_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 10px;
  /* justify-items: center; */
}
.sm_container > div:nth-child(2) {
  justify-self: flex-end;
}
.sm_container > div:nth-child(3) {
  justify-self: flex-start;
}
.made_by {
  grid-column: 1/3;
  grid-row: 1;
  font-size: 24px;
  color: #303030;
} 
/* MOBILE */
@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .title {
    font-size: 34px;
    line-height: 40px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .creation_form {
    display: flex;
  }
  .result_container {
    display: flex;
  }
  .content {
    width: 100%;
  }
  .info_message {
    font-size: 14px;
  }
}