.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.creation_form {
  display: flex;
  gap: 10px;
}
.result_container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 10px;
}
.info_message {
  font-size: 22px;
  text-align: center;
}
.info_message.error, .info_message.missing {
  color: rgb(224, 59, 59);
  text-align: left;
}
.info_message.loading {
  color: rgb(85, 85, 85);
}
.info_message.error {
  text-align: center;
}
.info_message.success {
  color: #46d21b;
}