.navigation {
    background: #f09274;
    border: 2px solid #151515;
    padding: 8px 20px;
    box-shadow: -2px 2px 0 0 rgb(15,15,15);
    border-radius: 5px;
    font-size: 26px;
    font-weight: 400;
    transition: all .15s;
    cursor: pointer;
    text-decoration: none;
    color: #151515;
    /* width: fit-content; */
    text-align: center;
}
.navigation:hover {
    transform: translate(2px, -2px);
    box-shadow: -4px 4px rgb(15,15,15);
}
.navigation:active {
    transform: translate(-2px, 2px);
    box-shadow: none;
}

@media (max-width: 768px) {
    .navigation {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}