.result_container {
    width: 100%;
    height: 46px;
    padding: 0 20px;
    border: 2px solid rgb(15, 15, 15);
    box-shadow: -2px 2px 0 0 rgb(15, 15, 15);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.result {
    font-size: 26px;
    overflow: hidden;
    position: relative;
    display: flex;
}
@keyframes top {
    from {
        transform: translateY(-120%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes bottom {
    from {
        transform: translateY(120%);
    }
    to {
        transform: translateY(0%);
    }
}
.letter {
    position: relative;
    /* transition: all .2s; */
}
.top {
    transform: translateY(-120%);
    animation: top .1s forwards;
}
.bottom {
    transform: translateY(120%);
    animation: bottom .1s forwards;
}

@media (max-width: 768px) {
    .result_container {
        width: 100%;
        height: 34px;
    }
    .result {
        font-size: 14px;

    }
}